//------------------------------------
    #home
//------------------------------------

body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

*,
*::before,
*::after
  box-sizing: border-box

.map-layout
  position: relative
  display: block
  width: 100%
  height: 100%

.map-marker
  position: absolute
  opacity: 0
  transform: translate3d(0, -100px, 0)
  z-index: 2
  color: #A94442
  transition: transform 100ms ease-in, top 100ms linear, right 100ms linear
  &.active
    opacity: 1
    transform: translate3d(0, 0, 0)
    transition: transform 500ms ease-out, top 500ms linear, right 500ms linear
  
.map-loading-layout
  min-height: 500px

.map-loading-widget
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50% -50%)

.thumbnail-popup
  transition: box-shadow 300ms ease-out
  &:focus,
  &:hover
    box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36)
    transition: box-shadow 300ms ease-in

.img-invert
  animation-duration: 1s
  animation-direction: alternate
  &.animate-name
    animation-name: imgInvert

@keyframes imgInvert
  0%
    filter: brightness(1000%)
  100%
    filter: brightness(100%)

.text-center
  text-align: center  

.img-responsive
  display: block
  max-width: 100%
  height: auto

.header
  display: block
  padding:
    top: 2rem
    left: 2rem
    right: 2rem
  & h1
    font-size: 3rem
    margin-bottom: 1rem

.page-header
  border-bottom: 1px solid #f1f1f1
  padding-bottom: 2rem

a
  color: #0336ff
  font-weight: bold
  text-decoration: none
  &:hover,
  &:focus
    color: darken(#0336ff, 10%)

.main
  display: grid
  grid-template-columns: repeat(1,1fr)
  grid-gap: 2rem
  padding: 2rem

.thumbnail
  padding: 2rem
  border: 1px solid #f1f1f1

.icon-svg
  display: inline-block
  width: 1em
  height: 1em

.x2
  font-size: 2rem

.svg-layout
  display: block
  width: 100%
  height: 500px

@supports (display: grid)
  @media (min-width: 42em) and (min-height: 27em)
    .main
      grid-template-columns: repeat(1,1fr)
