!!!5
%html.no-js{lang:''}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'ie=edge', 'http-equiv':'x-ua-compatible'}/
    %title
      =@title
    %meta{content: '', name: 'description'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/

    %link{href: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel: 'stylesheet', integrity: 'sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin: 'anonymous'}
    =stylesheet_link_tag  'application',
                          '//fonts.googleapis.com/css?family=Product+Sans'
    %link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel: 'stylesheet', integrity: 'sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==', crossorigin: 'anonymous'}

    %link{rel:'icon', href:'favicon.ico', type:'image/x-icon'}/

  %body{class: @page_classes || page}

    /[if lt IE 8]
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

    = partial 'partials/header'

    = yield

    = partial 'partials/footer'
