-@title= 'SVG Clickable Map'
-@page_classes= 'home'

%header{class: 'header'}
  .page-header.text-center
    %h1
      SVG Clickable Map
    .subhead
      =link_to 'Snap.svg', 'https://github.com/adobe-webplatform/Snap.svg'
%main{role: 'main', class: 'main'}
  %section{class:'layout layout-left'}
    .thumbnail.thumbnail-popup
      =image_tag ('guiyang.jpg'), class:'img-responsive js-img-city img-invert'
    .caption.text-center
      %h3
        Guiyang
    %snap.js-path-name
    %p
      =link_to 'Map Source - ', 'https://en.wikipedia.org/wiki/Guiyang'
      =link_to 'Image Source', 'https://unsplash.com/'
  %section{class:'layout layout-right'}
    %svg.svg-map#svg
